body {
  border: 2px double gray;
  border-radius: 2em;
  box-shadow: -8px -8px 29px gray inset;
  margin: 50px;
  background-color: #ebeaea;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.text1 {
  color: red;
  background-color: rgb(219, 219, 219);
  padding: 10px 20px;
  font-size: 35px;
  font-weight: 900;
  height: 40px;
  display: flex;
  text-align: center;
  box-shadow: 8px 8px 15px black;
}

.text2 {
  color: #fffefa;
  background-color: rgb(243 134 48);
  padding: 30px 10px 50px 20px;
  margin: 50px;
  font-size: 28px;
  height: 70px;
  font-weight: 100;
  box-shadow: 8px 8px 15px black;
}

.text3 {
  color: green;
  background-color: rgb(157 224 173);
  padding: 30px;
  width: 30px;
  height: 30px;
  font-size: 45px;
  font-weight: 800;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px black;
}

.img {
  margin: 45px;
  width: 13em;
  box-shadow: 8px 9px 20px 5px #36bda0;
  transform: scale(0.8);
  border-radius: 10px;
}

.img:hover {
  transform: scale(1);
  transition: 0.5s ease-in all;
  rotate: 360deg;
}

.div1 {
  position: absolute;
  z-index: -1;
  left: 56%;
  background: linear-gradient(110deg, #39db89, #464687);
  top: 65%;
}

.div2 {
  z-index: -2;
  position: relative;
  text-align: start;
  background: radial-gradient(#254aff, #f38630);
}

.div1,
.div2 {
  border: 2px solid gray;
  width: 300px;
  height: 200px;
}

/* .div1:hover {
  transition: 0.4s all;
  position: sticky;
  z-index: -3 !important;
  left: 66%;
  top: 75%;
} */
