# Mitesh_OOP_Assignment/Banking/.vs
# Mitesh_OOP_Assignment/Banking/Banking/.vs
# Mitesh_OOP_Assignment/Banking/Banking/bin
# Mitesh_OOP_Assignment/Banking/Banking/obj
# Mitesh_OOP_Assignment/Banking/Banking.sln

# 11_Mitesh_StateManagement&WebForms_Assignment/
# 12_Mitesh_WindowsForm_Basics_Assignment/
# 13_Mitesh_ASP.NET_MVC_Basic_Assignment/
14_Mitesh_ASP.NET_Advance_Assignment/
15_Mitesh_ASP.NET_Core_Assignment/
16_Mitesh_Ajax_using_jQuery_Assignment/
17_Mitesh_Web_API_and_Authentication_Assignmnent/
18_Mitesh_Angular_core_concept/
19_Mitesh_Template_form/
20_Mitesh_Reactive_Form/
21_Mitesh_Angular_State_management/
22_Mitesh_API_integration/