EmployeeManagement/.vs
EmployeeManagement/bin
EmployeeManagement/obj
EmployeeManagement/Properties
EmployeeManagement/App.config
EmployeeManagementUsingSP/.vs
EmployeeManagementUsingSP/bin
EmployeeManagementUsingSP/obj
EmployeeManagementUsingSP/Properties
EmployeeManagementUsingSP/App.config