.contectForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contectForm > fieldset {
  margin: 10px;
  padding: 20px;
}

#questions {
  float: inline-start;
}

input,
textarea {
  padding: 11px 10px;
  font-size: 19px;
  margin: 10px 10px 10px 25px;
  width: 300px !important;
  border-radius: 15px;
  border: none;
}

input:hover,
textarea:hover,
button:hover {
  transition: 0.1s ease-in all;
  padding: 11px 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(56, 58, 59);
}

input:focus,
textarea:hover,
button:hover {
  outline: none;
  border: none;
}

.buttons {
  display: flex;
}

button {
  font-size: 20px;
  padding: 10px 5px;
  margin: 20px 10px 0 25px;
  width: 50%;
  justify-content: space-evenly;
  border-radius: 5px;
  border: none;
}

h4 {
  text-align: center;
  font-size: 30px;
}

.social-handles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-handles > div > a > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-handles > div > a > img:hover {
  transition: 0.2s ease-in-out all;
  box-shadow: 10px 10px 10px rgb(61, 61, 61);
  width: 102px;
  height: 102px;
}
