body {
  font-family: sans-serif;
  background: linear-gradient(rgb(255 255 255), rgb(50 78 79));
}

nav {
  background-image: url("./imgs/banner2.jpg");
}

.bg-gray1 {
  background-color: #ddddd7;
}

.bg-gray2 {
  background-color: #ececebcc;
}

.itemHead {
  margin: 6rem 2rem 0 2rem;
}

.item1,
.item2,
.item3,
.item4,
.checkOutPoint {
  margin: 0 2rem;
}

.inputEnable2 {
  cursor: not-allowed;
}

footer {
  background: linear-gradient(rgb(170, 168, 168), rgb(50 78 79));
}

input:hover {
  transition: 0.5s;
  box-shadow: 5px 5px 5px gray;
}

.card {
  background: linear-gradient(rgb(50 78 79), rgb(255 255 255));
  box-shadow: 5px 5px 5px gray inset;
}

.card:hover {
  transition: 3s;
  box-shadow: -5px -5px 5px gray;
}

.linkHover:hover {
  font-weight: 600;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.btnH:hover {
  box-shadow: 5px 5px 5px gray;
}

.txt-black {
  color: #000000;
}
